.confirmed{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.confirmed__wrapper {
    width: 280px;
    height: 350px;
    margin: 0 auto;
}

.confirmed__text {
    color: #24CCA7;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    line-height: 68px;

}

@media (min-width: 768px) {
    .confirmed{
        background: url(../../images/icons/authForm/financeApp.svg),           
                    url(../../images/icons/authForm/backgroundSpot.svg),
                    url(../../images/icons/authForm/backgroundSpot2.svg),
                    url(../../images//icons//authForm/backgroundFrame.svg),
                    #E5E5E5;
        background-position: right 170px top 175px,
                             right top,
                             left bottom,
                             left 114px top 60px;                     
        background-repeat: no-repeat;
    }

    .confirmed__wrapper {
        width: 540px;
    }

    .confirmed__email_wrapper {
        width: 540px;
        height: 68px;
        background-color: #fff;
        border-radius: 20px;
        transform: translateY(160%);
    }
}
    
@media (min-width: 1280px) {
    .confirmed{
        background: url(../../images/icons/authForm/financeApp.svg),   
        url(../../images//icons//authForm/backgroundFrameDesktop.svg),
        url(../../images/icons/authForm/backgroundSpot2Desktop.svg),
        #E5E5E5 repeat-x 50% ;
        background-position: left 195px top 625px,
        left 70px top 150px,
        left bottom; 
        background-repeat: no-repeat;
    }
    
    .confirmed::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 618px;
        height: 547px;
        background-image: url(../../images/icons/authForm/backgroundSpotDesktop.svg);
        background-size: cover;
        filter: blur(40px);
    }
    
    .confirmed__wrapper {
        position: relative;
        height: 100vh;
        width: 55%;
        margin-right: 0;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgba(255,255,255,0.4);
        box-shadow: -15px 0 15px 0 rgba(255,255,255,0.4);
    }
    
    
    .confirmed__email_wrapper{
        z-index: 10;
        transform: translateY(0);
    }
}