.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login__wrapper {
  width: 280px;
  height: 350px;
  margin: 0 auto;
}

.login__logo {
  padding-left: 50px;
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}

.login__logo::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 12px;
  left: 98px;
  transform: translate(-50%, -50%);
  background-image: url(../../images/icons/authForm/icon/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.login__email {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  width: 280px;
  height: 44px;
  outline: none;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 44px;
  padding-left: 55px;
}

.login__email_icon::before {
  position: absolute;
  transform: translate(12px, 10px);
  display: block;
  content: "";
  background-image: url(../../images/icons/authForm/icon/email.svg);
  width: 24px;
  height: 24px;
}

.login__errorEmailLength_p {
  color: red;
  position: absolute;
  display: block;
  transform: translate(0, -40px);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 8px;
}

.login__errorMessageLogin {
  color: red;
  position: absolute;
  display: block;
  transform: translate(85px, -20px);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 8px;
}

.login__password {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  width: 280px;
  height: 44px;
  outline: none;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 44px;
  padding-left: 55px;
}

.login__password_icon::before {
  position: absolute;
  transform: translate(12px, 10px);
  display: block;
  content: "";
  background-image: url(../../images/icons/authForm/icon/password.svg);
  width: 24px;
  height: 24px;
}

.login__errorPasswordLength_p {
  color: red;
  position: absolute;
  display: block;
  transform: translate(0, -40px);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 8px;
}

.login__submit_btn {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  color: white;
  width: 280px;
  height: 50px;
  background: #24cca7;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  margin-bottom: 20px;
  outline: none;
  transition: all 0.2s linear;
  cursor: pointer;
}

.login__submit_btn:hover,
.login__submit_btn:focus {
  background: #fff;
  color: #24cca7;
  border: 1px solid #24cca7;
}

.login__registration_btn {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  color: #4a56e2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #4a56e2;
  border-radius: 20px;
  outline: none;
  transition: all 0.2s linear;
  cursor: pointer;
}

.login__registration_btn:hover,
.login__registration_btn:focus {
  background: #4a56e2;
  color: white;
}

/* --------------------------- tablet --------------------------- */

@media (min-width: 768px) {
  .login {
    background: url(../../images/icons/authForm/financeApp.svg),
      url(../../images/icons/authForm/backgroundSpot.svg),
      url(../../images/icons/authForm/backgroundSpot2.svg),
      url(../../images//icons//authForm/backgroundFrame.svg), #e5e5e5;
    background-position: right 170px top 175px, right top, left bottom,
      left 114px top 60px;
    background-repeat: no-repeat;
  }

  .login__wrapper {
    width: 540px;
    min-height: 100vh;
  }

  .login__form_wrapper {
    width: 540px;
    height: 468px;
    background-color: #fff;
    border-radius: 20px;
    transform: translateY(60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login__logo {
    font-size: 30px;
    margin-bottom: 65px;
  }

  .login__logo::before {
    height: 40px;
    width: 40px;
    left: 33%;
    background-image: url(../../images/icons/authForm/icon/logoTablet.svg);
  }

  .login__button_data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login__email {
    width: 410px;
    margin-bottom: 40px;
  }

  .login__errorEmailLength_p {
    transform: translate(-147px, 45px);
    font-size: 11px;
  }

  .login__errorMessageLogin {
    transform: translate(0, 65px);
    font-size: 11px;
  }

  .login__password {
    width: 410px;
    margin-bottom: 40px;
  }

  .login__errorPasswordLength_p {
    transform: translate(65px, 43px);
    font-size: 11px;
  }

  .login__button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login__submit_btn {
    width: 300px;
  }

  .login__registration_btn {
    width: 300px;
  }
}

/* --------------------------- desktop --------------------------- */

@media (min-width: 1280px) {
  .login {
    background: url(../../images/icons/authForm/financeApp.svg),
      url(../../images//icons//authForm/backgroundFrameDesktop.svg),
      url(../../images/icons/authForm/backgroundSpot2Desktop.svg),
      #e5e5e5 repeat-x 50%;
    background-position: left 195px top 625px, left 70px top 150px, left bottom;
    background-repeat: no-repeat;
  }

  .login::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 618px;
    height: 547px;
    background-image: url(../../images/icons/authForm/backgroundSpotDesktop.svg);
    background-size: cover;
    filter: blur(40px);
  }

  .login__wrapper {
    position: relative;
    height: 100vh;
    width: 55%;
    margin-right: 0;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: -15px 0 15px 0 rgba(255, 255, 255, 0.4);
  }

  .login__form_wrapper {
    z-index: 10;
    transform: translateY(0);
  }
}
