.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login__wrapper {
    width: 280px;
    height: 350px;
    margin: 0 auto;
}

.login__wrapper_form_logo {
    font-size: 23px;
    font-weight: 700;
    font-family: "Montserrat";
    margin-bottom: 50px;
    position: relative;     
    text-align: center;

}

.login__wrapper_form_logo::before {
    content: ''; 
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
    background-image: url(../../images/icons/logo.svg); 
    background-repeat: no-repeat; 
    background-position: center;  
}

.login__wrapper_form_email {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    width: 280px;
    height: 44px;
    outline: none;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 44px;
    padding-left: 55px;
}

.login__wrapper_form_email_icon::before {
    position: absolute;
    transform: translate(12px, 10px);
    display: block;
    content: '';
    background-image: url(../../images/icons/email.svg);
    width: 24px;
    height: 24px;  
}

.login__wrapper_form_password {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    width: 280px;
    height: 44px;
    outline: none;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 44px;
    padding-left: 55px;
}

.login__wrapper_form_password_icon::before {
    position: absolute;
    transform: translate(12px, 10px);
    display: block;
    content: '';
    background-image: url(../../images/icons/password.svg);
    width: 24px;
    height: 24px;
}

.login__wrapper_form_input {
    font-family: "Montserrat";
    font-size:18px;
    font-weight: 400;
    color: white;
    width: 280px;
    height: 50px;
    background: #24CCA7;
    border: 1px solid #24CCA7;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 20px;
}

.login__wrapper_form_input:hover{
    background: #70b1a3;;
    border: 1px solid #70b1a3;;
    color:black;
    transition-delay: 0.3s;
}

.login__wrapper_form_input:focus{
    background: #E0E0E0;;
    border: 1px solid  #E0E0E0;;
    color: black;
    transition-delay: 0.3s;
}

.login__wrapper_form_register {
    font-family: "Montserrat";
    font-size:18px;
    font-weight: 400;
    width: 280px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #4A56E2;
    box-sizing: border-box;
    border-radius: 20px;
}

.login__wrapper_form_register:hover{
    background: #E0E0E0;
    border: 1px solid  #E0E0E0;
    color:white;
    transition-delay: 0.3s;
}

.login__wrapper_form_register:focus{
    background: #E0E0E0;;
    border: 1px solid  #E0E0E0;;
    color:white;
    transition-delay: 0.3s;
}

@media (min-width: 768px) {
    .login{
        /* background: #E5E5E5; */
        background: url(../../images/icons/authForm/backgroundSpot.svg) no-repeat,
                    url(../../images/icons/authForm/backgroundSpot2.svg) no-repeat,
                    url(../../images//icons//authForm/backgroundFrame.svg) no-repeat,
                    url(../../images/icons/authForm/financeApp.svg) no-repeat,           

        #E5E5E5;
        /* background-repeat: no-repeat;  */
        background-position: right top 20px, left bottom, left 114px top 60px,
        right 140px top 330px ; 
        height: auto; 

    }
    .login__wrapper {
        width: 540px;
        height: 468px;
        background: #FFFFFF;
        border-radius: 20px;
        margin-top: 370px;
        margin-bottom: 196px;   
        padding-top: 40px; 
    }
    
    .login__wrapper_form_logo {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 54px;
    }

    .login__wrapper_form_logo::before {
        height: 40px;
        width: 40px;
        left: 33%;
        background-image: url(../../images/icons/logoTablet.svg);   
    }
    .login__wrapper_form_sabmit{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .login__wrapper_form_email {
        width: 410px;
        margin-bottom: 40px;
       
    }

    .login__wrapper_form_password {
        width: 410px;
        margin-bottom: 40px;
    }
    
    .login__wrapper_form_button{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .login__wrapper_form_input {
        width: 300px;
      
    }
    .login__wrapper_form_register{
        width: 300px;
    }
}
