.select {
  position: relative;
  display: block;
  width: 280px;
}
.select__head_tmp {
  width: 100%;
  background-color: transparent;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  border-radius: 30px;
  padding: 14px 20px;
  height: 50px;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: relative;
}
.select__head {
  composes: select__head_tmp;
}

.select__head_open {
  border-radius: 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.select__head::after {
  width: 18px;
  height: 9px;
  background-image: url('../../images/icons/downArrow.svg');
  transform: translateY(50%);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 20px;
  bottom: 50%;
  content: '';
  display: block;
  transition: all 0.2s ease-in;
}

.select__head.open::after {
  transform: translateY(50%) rotate(180deg);
}
.select__head_year.open::after {
  transform: translateY(50%) rotate(180deg);
}
.item {
  height: 100px;
  width: 200px;
}
.list {
  position: absolute;
  top: 100%;
  left: 50%;
  font-family: Montserrat;
  transform: translateX(-50%);
  background: rgba(231, 234, 242);
  border: 1px solid #000;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top: none;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}
.select__list {
  composes: list;
}

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #f8f9fa;
  padding: 5px;
}
.select__list::-webkit-scrollbar-track {
  border-radius: 30px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #d9d9d9;
}

.select__list .select__item {
  position: relative;
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  padding: 10px 15px;
  cursor: pointer;
  list-style-type: none;
}

.select__list .select__item:hover {
  background-color: #fff;
}
@media (max-width: 767px) {
  .select:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .select {
    max-width: 166px;
  }
}
