.main {
  background-color: rgba(238, 238, 238, 0.4);
  min-height: 100vh;
}

.main__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 13px 0;
}

.main__currency_wrapper {
  display: none;
}

@media (min-width: 768px) {
  .main {
    background: url(../../images/icons/main/MainBackground.svg),
      url(../../images/icons/main/BackgroundMain.svg), rgba(238, 238, 238, 0.4);
    background-position: left bottom, right top 80px;
    background-repeat: no-repeat;
  }

  .main::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    backdrop-filter: blur(50px);
  }

  .main__wrapper {
    width: 688px;
    height: calc(100% - 80px);
    z-index: 2;
    padding: 20px 0;
    position: relative;
  }

  .main__aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 174px;
    margin-bottom: 40px;
  }

  .main__currency_wrapper {
    display: table;
  }
}

@media (min-width: 1280px) {
  .main {
    background: url(../../images/icons/main/MainBackground.svg),
      url(../../images/icons/main/BackgroundDesktop.svg),
      rgba(238, 238, 238, 0.4);
    background-position: left bottom, right top 80px;
    background-repeat: no-repeat;
  }

  .main__wrapper {
    width: 1110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main__aside {
    width: 380px;
    height: 100%;
    margin-bottom: 0;
    border-right: 1px solid #e7e5f2;
  }

  .content__wrapper {
    width: 700px;
  }
}
