.temporary_wrapper{
    width: 280px;
    margin: 0 auto;
}

.transaction_wrtransaction__list {
    background-color: #FFFFFF;
    border-radius: 5px;
    border-left: 5px solid #FF6596;
    margin-bottom: 10px;
}

.tarnsaction__list_item {
    display: flex;
    justify-content: space-between;
    height: 46px;
}

.tarnsaction__list_item:nth-of-type(5) .item_value {
    color: #FF6596;
}

.tarnsaction__list_item:not(:last-child) {
    border-bottom: 1px solid #DCDCDF;
}

.tarnsaction__list_item_key {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 46px;
    /* identical to box height */
    text-align: right;
    color: #000000;
     margin-left: 15px;
}

.tarnsaction__list_item_value {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 46px;
    text-align: right;

    color: #000000;
    margin-right: 20px;
}
