@media (min-width: 320px) {
  .alanBtn {
    width: 44px !important;
    min-width: 44px !important;
    max-width: 44px !important;
    min-height: 44px !important;
    height: 44px !important;
    /* max-height: 44px !important; */
  }
  .alanBtn-root {
    bottom: 70px !important;
    right: 20px !important;
  }
}

@media (min-width: 768px) {
  .alanBtn-root {
    bottom: 70px !important;
    right: 40px !important;
    z-index: 1000 !important;
  }
}

@media (min-width: 1280px) {
  .alanBtn-root {
    right: 85px !important;
  }
}
