.header__wrapper {
  width: 280px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding-left: 42px;
}

.header__title::before {
  position: absolute;
  content: '';
  background-image: url(../../images/icons/Logotype.svg);
  background-size: cover;
  display: block;
  width: 30px;
  height: 30px;
  left: 0px;
  top: -4px;
}

.header__login_wrapper {
  display: flex;
}

.header__login_name {
  font-size: 17px;
  color: #bdbdbd;
  margin-right: 12px;
}

.header__logout_button {
  cursor: pointer;
  background-color: #ffffff;
  background-size: cover;
  border: none;
  outline: none;
  background-image: url(../../images/icons/Logout.svg);
  display: block;
  height: 18px;
  width: 18px;
}

@media (min-width: 768px) {
  .header__wrapper {
    width: 688px;
    height: 80px;
  }

  .header__title {
    font-size: 30px;
    padding-left: 60px;
  }

  .header__title::before {
    width: 40px;
    height: 40px;
  }

  .header__login_name {
    font-size: 24px;
    margin-right: 26px;
    position: relative;
  }

  .header__login_wrapper {
    padding-right: 84px;
  }

  .header__login_name::after {
    position: absolute;
    bottom: 1px;
    left: 55px;
    display: block;
    content: '';
    height: 30px;
    width: 2px;
    background-color: #bdbdbd;
  }

  .header__logout_button {
    position: relative;
    top: 4px;
  }

  .header__logout_button::after {
    position: absolute;
    bottom: -18px;
    left: 32px;
    display: block;
    content: 'Выйти';
    color: #bdbdbd;
    font-size: 24px;
    height: 40px;
  }
}

@media (min-width: 1280px) {
  .header__wrapper {
    width: 1110px;
  }

  .header__title {
    margin-right: 780px;
  }
}
