.header {
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.header__wrapper {
  width: 280px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding-left: 42px;
  transition: all 0.4s linear;
}

.header__title:hover,
.header__title:focus {
  color: #24cca7;
}

.header__title::before {
  position: absolute;
  content: "";
  background-image: url(../../images/icons/header/Logotype.svg);
  background-size: cover;
  display: block;
  width: 30px;
  height: 30px;
  left: 0px;
  top: -4px;
}

.header__login_wrapper {
  display: flex;
}

.header__login_name {
  font-size: 17px;
  color: #bdbdbd;
  margin-right: 12px;
  font-family: "Montserrat";
}

.header__login_avatar {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../../images/icons/header/empty_avatar.svg);
  background-size: cover;
  cursor: pointer;
}

.header__logout_button {
  cursor: pointer;
  background-color: #ffffff;
  background-size: cover;
  border: none;
  outline: none;
  background-image: url(../../images/icons/header/Logout.svg);
  display: block;
  height: 18px;
  width: 18px;
}

@media (min-width: 768px) {
  .header__wrapper {
    width: 688px;
    height: 80px;
  }

  .header__title {
    font-size: 30px;
    padding-left: 60px;
  }

  .header__title::before {
    width: 40px;
    height: 40px;
  }

  .header__login_wrapper {
    position: relative;
    right: -6px;
  }

  .header__login_name {
    font-size: 20px;
    position: absolute;
    right: 140px;
    bottom: -12px;
  }

  .header__logout_button {
    position: absolute;
    bottom: -10px;
    right: 104px;
  }

  .header__login_name::before {
    position: absolute;
    bottom: -4px;
    right: -16px;
    display: block;
    content: "";
    height: 30px;
    width: 1px;
    background-color: #bdbdbd;
  }

  .header__logout_button::after {
    position: absolute;
    bottom: -19px;
    right: -78px;
    display: block;
    content: "Выйти";
    color: #bdbdbd;
    font-size: 20px;
    height: 40px;
    font-family: "Montserrat";
  }
}

@media (min-width: 1280px) {
  .header__wrapper {
    width: 1110px;
  }

  .header__login_wrapper {
    right: -19px;
  }
}
