.transaction__list {
    background-color: #FFFFFF;
    border-radius: 5px;
    border-left: 5px solid #FF6596;
    margin-bottom: 10px;
    transition: transform 250ms linear;
     position: relative;
     overflow: hidden;
}

.transaction__list:hover {
    background-color: #FFFFFF;
}

.transaction__list:hover .transaction__list_item{
    /* filter: blur(2px); */
    cursor: default;
    transform: translateX(-70px);
}

.transaction__list::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translate(-50%,-50%);
    background-image: url('./icons/edit_icon-icons.com_52382.ico');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* z-index: 1; */
    cursor: pointer;
    transition: all 250ms linear;
}

.transaction__list::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translate(-50%, -50%);
    background-image: url('./icons/1486504830-delete-dustbin-empty-recycle-recycling-remove-trash_81361.ico');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* z-index: 1; */
    cursor: pointer;
     transition: all 250ms linear;
}

.transaction__list:hover::before{
right: 34px;
}

.transaction__list:hover::after {
right: 8px;
}

.transaction__list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    transition: all 250ms linear;
}

.transaction__list_item:nth-of-type(5) .transaction__list_item_value {
    color: #FF6596;
}

.transaction__list_item:not(:last-child) {
    border-bottom: 1px solid #DCDCDF;
}

.transaction__list_item_key {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 46px;
    text-align: right;
    color: #000000;
     margin-left: 15px;
}

.transaction__list_item_value {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #000000;
    margin-right: 20px;
}

@media(max-width:767px) {
    .transaction__header {
        display: none;
    }
}

@media(min-width:768px){

    .transaction__list:hover{
        border-radius: 30px;
    }

    .transaction__list:hover:first-of-type{
         border-top: 1px solid #DCDCDF
    }

    .transaction__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 58px;
        background: #FFFFFF;
        border-radius: 30px;

        padding: 0 20px;
    }

    .transaction__header_item {
        font-family: "Montserrat",
        sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
    }

    .transaction__header_item:nth-of-type(1) {
        width: 80px;
        text-align: center;
    }

    .transaction__header_item:nth-of-type(2) {
        width: 60px;
        text-align: center;
    }

    .transaction__header_item:nth-of-type(3) {
        width: 120px;
        text-align: left;
    }

    .transaction__header_item:nth-of-type(4) {
        width: 120px;
        text-align: left;
    }

    .transaction__header_item:nth-of-type(5) {
        width: 60px;
        text-align: right;
    }

   .transaction__header_item:nth-of-type(6) {
        width: 80px;
        text-align: right;
    }

    .transaction__list{
        display: flex;
        justify-content: space-between;
        border-left: none;
        border-radius: 0;
        margin: 0;
        background-color: transparent;

        padding: 0 20px;
    }

    .transaction__list:not(:last-child){
        border-bottom: 1px solid #DCDCDF
    }

    .transaction__list_item{
        flex-direction: column;
        justify-content: center;
        height: 54px;
    }

    .transaction__list_item:nth-of-type(1) .transaction__list_item_value{
         width: 80px;
         text-align: center;
    }

    .transaction__list_item:nth-of-type(2) .transaction__list_item_value {
         width: 60px;
        text-align: center;
    }

    .transaction__list_item:nth-of-type(3) .transaction__list_item_value {
         width: 120px;
        text-align: left;
    }

    .transaction__list_item:nth-of-type(4) .transaction__list_item_value {
         width: 120px;
        text-align: left;
    }

    .transaction__list_item:nth-of-type(5) .transaction__list_item_value {
         width: 60px;
        text-align: right;
    }

    .transaction__list_item:nth-of-type(6) .transaction__list_item_value {
         width: 80px;
         text-align: right;
    }

    .transaction__list_item:not(:last-child) {
        border: none;
    }

    .transaction__list_item_key{
        display: none;
    }

    .transaction__list_item_value{
        margin: 0;
        line-height: normal;
    }
}
