.main__buttons_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}
.main__btn {
  display: block;
  width: 38px;
  height: 38px;
  border: none;
  background-repeat: no-repeat;
}

.main__btn:hover,
.main__btn:focus {
  fill: #4a56e2;
}

.main__btn_home {
  background-image: url(../../images/icons/navigation/home.svg);
  margin-right: 36px;
}
.main__btn_statistic {
  background-image: url(../../images/icons/navigation/statistic.svg);
  margin-right: 36px;
}
.main__btn_course {
  background-image: url(../../images/icons/navigation/course.svg);
}

@media (min-width: 768px) {
  .main__buttons_wrapper {
    margin-left: 43px;
    justify-content: start;
    display: block;
  }

  .main__btn {
    width: 18px;
    height: 18px;
  }

  .main__btn_home {
    background-image: url(../../images/icons/navigation/homeDesktop.svg);
    margin-bottom: 19px;
    position: relative;
  }

  .main__btn_home::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 38px;
    content: "Главная";
    font-size: 18px;
    font-family: "Montserrat";
  }

  .main__btn_statistic {
    background-image: url(../../images/icons/navigation/statisticDesktop.svg);
  }

  .main__btn_statistic::after {
    display: block;
    position: absolute;
    top: 116px;
    left: 80px;
    content: "Статистика";
    font-size: 18px;
    font-family: "Montserrat";
  }

  .main__btn_course {
    display: none;
  }
}
