.main__buttons_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}

.main__btn {
  display: block;
  width: 38px;
  height: 38px;
  border: none;
  background-repeat: no-repeat;
  outline: none;
  font-weight: normal;
  color: black;
  opacity: 0.8;
}

.main__btn:hover,
.main__btn:focus {
  transform: scale(1.1);  
}

.main__btn_active {
  font-weight: bold;
  color: black;
  transform: scale(1.1);
  opacity: 1;
}

.main__btn_home {
  background-image: url(../../images/icons/navigation/home.svg);
  margin-right: 36px;
}

.main__btn_statistic {
  background-image: url(../../images/icons/navigation/statistic.svg);
  margin-right: 36px;
}

.main__btn_course {
  background-image: url(../../images/icons/navigation/course.svg);
}


@media (min-width: 768px) {
  .main__buttons_wrapper {
    flex-direction: column;
    justify-content: center;
    width: 334px;
    height: 80px;
    padding-left: 4px;
  }

  .main__btn {
    width: 18px;
    height: 18px;
  }

  .main__btn_home {
    background-size: cover;
    margin-bottom: 19px;
    position: relative;
  }

  .main__btn_home::after {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 38px;
    content: "Главная";
    font-size: 18px;
    font-family: "Montserrat";
  }

  .main__btn_statistic {
    background-size: cover;
    position: relative;
  }

  .main__btn_statistic::after {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 38px;
    content: "Статистика";
    font-size: 18px;
    font-family: "Montserrat";
  }

  .main__btn_course {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main__buttons_wrapper {
    width: 350px;
  }
}